.InterestingFactSection{
    text-align: center;
    height: 70vh;
   margin: 0 100px;
   font-family: "Nunito";

}
.InterestingFactHeading{
    font-size: 68px;
    letter-spacing: 5px;

}
.InterestingFactDescription{
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 40px;
    margin-top: 65px;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .InterestingFactSection{
        height: 70vh;
        margin: 0;
    }
    .InterestingFactHeading{
        font-size: 28px;
        letter-spacing: 4px;
    
    }
    .InterestingFactDescription{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 35px;
    }
    
}

@media screen and (min-width:481px) and (max-width:780px) {
    .InterestingFactSection{
        height: 70vh;
        margin: 0;
    }
    .InterestingFactHeading{
        font-size: 28px;
        letter-spacing: 4px;
    
    }
    .InterestingFactDescription{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 35px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .InterestingFactSection{
        height: 70vh;
        margin: 0;
    }
    .InterestingFactHeading{
        font-size: 58px;
        letter-spacing: 4px;
    
    }
    .InterestingFactDescription{
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 45px;
        text-align: left;
        margin: 4rem 3rem 0px 3rem;
    }

}
