.didYouKnowSection{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 45px 25px 30px 25px;
}
.didYouKnowBlockLeft{
}
.didYouKnowHeading{
    font-size: 48px;
    /* background-color: bisque; */
    margin: 3px 0;
    letter-spacing: 7px;
    font-family: "Nunito";
}

.didYouKnowBlockRight{
    width: 720px;
    height: 350px;
    border: 2px solid #000;
    border: none;
    border-radius: 30px;
}
.didYouKnowImage{
    height: 180px;
}

.choosePointsBlock{
    font-size: 26px;
}
.eachChoosePoint{
    list-style-type: none;
    margin: 18px;
    font-family: "Lato";
    letter-spacing: 1px;
}