.didYouKnowSection{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 80vh;
    margin: 45px 25px 30px 25px;
}
.didYouKnowHeading{
    font-size: 65px;
    /* background-color: bisque; */
    margin: 3px 0;
    letter-spacing: 7px;
    font-family: "Nunito";
}

.didYouKnowBlockRight{
    width: 720px;
    height: 350px;
    border: 2px solid #000;
    border: none;
    border-radius: 30px;
}
.didYouKnowImage{
    height: 180px;
}

.choosePointsBlock{
    font-size: 32px;
}
.eachChoosePoint{
    list-style-type: none;
    margin: 18px;
    font-family: "Lato";
    letter-spacing: 1px;
}
@media screen and (min-width:300px) and (max-width:480px) {
    .didYouKnowSection{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .didYouKnowHeading{
        font-size: 28px;
    }
    
    .didYouKnowBlockRight{
        width: 90%;
        height: 350px;
        border: 2px solid #000;
        border: none;
        border-radius: 30px;
    }
    .didYouKnowImage{
        height: 180px;
    }
    
    .choosePointsBlock{
        font-size: 16px;
        margin-top: 4rem;
    }
    .eachChoosePoint{
        margin: 18px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .didYouKnowSection{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .didYouKnowHeading{
        font-size: 28px;
    }
    
    .didYouKnowBlockRight{
        width: 90%;
        height: 350px;
        border: 2px solid #000;
        border: none;
        border-radius: 30px;
    }
    .didYouKnowImage{
        height: 180px;
    }
    
    .choosePointsBlock{
        font-size: 16px;
        margin-top: 4rem;
    }
    .eachChoosePoint{
        margin: 18px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .didYouKnowSection{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .didYouKnowHeading{
        font-size: 48px;
    }
    
    .didYouKnowBlockRight{
        width: 90%;
        height: 350px;
        border: 2px solid #000;
        border: none;
        border-radius: 30px;
    }
    .didYouKnowImage{
        height: 180px;
    }
    
    .choosePointsBlock{
        font-size: 23px;
        margin-top: 4rem;
    }
    .eachChoosePoint{
        margin: 18px;
    }
}