.EachItrPlanContainer{
    width: 30%;
    height: 480px;
    list-style-type: none;
}
.itrPlanHeading,.ItrPart-2{
    border: 2px solid #000;
    border-radius: 13px;
    margin: 10px 0;
}
.itrPlanHeading{
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}
.ItrPart-2{
    padding: 15px 10px;
    height: 80%;
}.ItrPart-2:hover{
    border: 3px solid rgb(100, 100, 189);
    box-shadow: 5px 3px 20px rgb(89, 89, 175);
}
.priceBlock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}
.previousPrice{
    text-decoration: line-through;

}
.discountPrice{
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
}

.coversBlock{
    height: 65%;
}
.coversHeading{
    font-size: 23px;
}

.eachCoverItemBlock{
    display: flex;
    gap: 5px;
}
.arrowImage{
    height: 15px;
}
.productBtn{
    background-color: #000;
    color: #fff;
    width: 60%;
    height: 45px;
    border-radius: 15px;
    margin-left: 25%;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .EachItrPlanContainer{
        width: 45%;
        height: 360px;
    }
    .itrPlanHeading{
        font-size: 12px;
    }
    .ItrPart-2{
        height: 80%;
    }
    .priceBlock{
        font-size: 8px;
    }
    .coversHeading{
        font-size: 12px;
    }
    .eachCoverItemBlock{
        font-size: 6px;
    }
    .productBtn{
        height: 25px;
        font-size: 12px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .EachItrPlanContainer{
        width: 30%;
        height: 360px;
    }
    .itrPlanHeading{
        font-size: 12px;
    }
    .ItrPart-2{
        height: 80%;
    }
    .priceBlock{
        font-size: 8px;
    }
    .coversHeading{
        font-size: 12px;
    }
    .eachCoverItemBlock{
        font-size: 8px;
    }
    .productBtn{
        height: 30px;
        font-size: 12px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .EachItrPlanContainer{
        width: 30%;
        height: 480px;
    }
    .itrPlanHeading{
        font-size: 16px;
    }
    .ItrPart-2{
        height: 80%;
    }
    .priceBlock{
        font-size: 14px;
    }
    .coversHeading{
        font-size: 16px;
    }
    .eachCoverItemBlock{
        font-size: 14px;
    }
    .productBtn{
        height: 30px;
        font-size: 12px;
    }
}