.EachItrPlanContainer{
    width: 20%;
    margin: 15px;
    height: 480px;
    list-style-type: none;
}
.itrPlanHeading,.ItrPart-2{
    border: 2px solid #000;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: -2px 0.5px 8px #000;
}
.ItrPart-2{
    border-radius: 65px;
}
.itrPlanHeading{
    text-align:  center;
    padding: 23px 0;
    font-size: 18px;
}
.ItrPart-2{
    padding: 15px 10px;
    height: 80%;
}.ItrPart-2:hover{
    border: 3px solid rgb(100, 100, 189);
    box-shadow: 5px 3px 20px rgb(89, 89, 175);
}
.priceBlock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 0 0;
}
.previousPrice{
    text-decoration: line-through;

}
.discountPrice{
    background-color: #5d78c0;
    box-shadow: -1px 0.5px 5px #797c85;
    color: #fff;
    padding: 3px 12px;
}

.coversBlock{
    height: 70%;
}
.coversHeading{
    font-size: 23px;
}

.eachCoverItemBlock{
    display: flex;
    justify-content: left;
    gap: 5px;
    /* background-color: #000; */
    margin-left: -15px;
}
.arrowImage{
    height: 18px;
}
.eachCoverPoint{
    font-size: 15px;
}
.productBtn{
    background-color: #5d78c0;
    border: 2px solid #5d78c0;
    box-shadow: -1px 0.5px 5px #797c85;
    color: #fff;
    width: 180px;
    height: 45px;
    border-radius: 15px;
    margin-left: 25%;
}
.connect{
    margin-top: 40px;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .EachItrPlanContainer{
        width: 80%;
        height: 360px;
    }
    .itrPlanHeading{
        font-size: 12px;
        padding: 15px 0;
    }
    .ItrPart-2{
        height: 80%;
        border-radius: 45px;
    }
    .priceBlock{
        font-size: 8px;
    }
    .coversHeading{
        font-size: 12px;
    }
    .eachCoverItemBlock{
        font-size: 6px;
        align-items: center;
        gap: 8px;
    }
    .arrowImage{
        height: 14px;
    }
    .eachCoverPoint{
        font-size: 7px;
        margin: 6px;
    }
    .productBtn{
        height: 25px;
        width: 120px;
        font-size: 12px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .EachItrPlanContainer{
        width: 40%;
        height: 360px;
    }
    .itrPlanHeading{
        font-size: 16px;
        padding: 16px 0;
    }
    .ItrPart-2{
        height: 80%;
    }
    .priceBlock{
        font-size: 12px;
    }
    .coversHeading{
        font-size: 16px;
    }
    .eachCoverItemBlock{
        font-size: 6px;
        align-items: center;
        gap: 8px;
    }
    .arrowImage{
        height: 16px;
    }
    .eachCoverPoint{
        font-size: 9px;
        margin: 6px;
    }
    .productBtn{
        height: 25px;
        width: 120px;
        font-size: 12px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .EachItrPlanContainer{
        width: 40%;
        height: 480px;
    }
    .itrPlanHeading{
        font-size: 16px;
    }
    .ItrPart-2{
        height: 80%;
    }
    .priceBlock{
        font-size: 14px;
    }
    .coversHeading{
        font-size: 16px;
    }
    .eachCoverItemBlock{
        font-size: 14px;
    }
    .productBtn{
        height: 45px;
        font-size: 12px;
    }
}