.taxServicesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin: 12rem 0;
}
.eachTaxBox{
    width: 580px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border: 4px solid #a4f795;
    border-radius: 80px;
    box-shadow: -20px 12px 15px rgb(141, 140, 140);
}
.taxserviceName{
    font-size: 32px;
    height: 15%;
}
.taxserviceDescription{
    height: 60%;
    font-size: 18px;
}
.taxserviceBtn{
    margin: 10px;
    outline: none;
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: rgb(91, 91, 254);
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    font-family: "Roboto Mono";
}

@media screen and (min-width:300px) and (max-width:480px) {
    .taxServicesContainer{
        flex-direction: column;
        gap: 50px;
    }
    .eachTaxBox{
        width: 80%;
        height: auto;
    }
    .taxserviceName{
        font-size: 18px;
    }
    .taxserviceDescription{
        font-size: 12px;
        height: auto;
    }
    .taxserviceBtn{
        width: 140px;
        height: 35px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .taxServicesContainer{
        gap: 40px;
    }
    .eachTaxBox{
        width: 45%;
        height: 360px;
    }
    .taxserviceName{
        font-size: 18px;
    }
    .taxserviceDescription{
        font-size: 12px;
        height: auto;
    }
    .taxserviceBtn{
        font-size: 16px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .taxServicesContainer{
        gap: 50px;
    }
    .eachTaxBox{
        width: 40%;
        height: 360px;
    }
    .taxserviceName{
        font-size: 21px;
    }
    .taxserviceDescription{
        font-size: 14px;
        height: auto;
    }
    .taxserviceBtn{
        font-size: 18px;
    }

}