.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    height: auto;
    padding: 0 3rem;
}
.part-1{
    font-size: 23px;
    font-family: "Lato";
    margin-top: 30px;
}
.part-2{
    font-size: 48px;
    letter-spacing: 8px;
    font-weight: bold;
    font-family: 'Cinzel';
}
.logo-image{
    height:90px ;
    cursor: pointer;
}

.part-1 > .nav-items{
    display:flex;
    gap: 23px;
}
.nav-items > .item-headings{
    list-style-type: none;
    cursor: pointer;
    font-size: 21px;
}
.active {
    font-weight: bold;
    color: green; /* Highlight color */
  }
.item-headings:hover{
    color: #000;
    background-color: transparent;
    border-radius: 18px;
    /* text-shadow: -1px 3px 2px #6578ba; */
}
/* .arrow-list{
    transform: rotate(90deg);
    padding-left: 5px;
    font-size: 12px;
} */
.reqBtn{
    outline: none;
    width: 180px;
    height: 45px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(91, 91, 254);
    font-family: "Roboto Mono";
}


@media screen and (min-width:300px) and (max-width:480px) {
    .navbar-container{
        flex-direction: column;
    }
    .part-1{
        font-size: 8px;
        margin: 0%;
        padding: 0%;
        margin-top: 8px;
    }
    .part-1 > .nav-items{
        justify-content: center;
    }
    .part-2{
        font-size: 28px;
        text-align: center;
    }
    .part-3{
        display: none;
    }
    .logo-image{
        height: 65px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .part-1{
        font-size: 16px;
    }
    .part-2{
        font-size: 32px;
       letter-spacing: 8px;
    }
    .part-3{
        display: none;
    }
    
    .part-1 > .nav-items{
        gap:15px;
    }
    .nav-items > .item-headings{
        font-size: 12px;
    }
    .reqBtn{
        width: 95px;
        height: 28px;
        font-size: 8px;
    }
    .logo-image{
        height: 60px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .part-1{
        font-size: 18px;
    }
    .part-2{
        font-size: 45px;
       letter-spacing: 8px;
    }
    
    .part-1 > .nav-items{
        gap:28px;
    }
    .nav-items > .item-headings{
        font-size: 14px;
    }
    .reqBtn{
        width: 140px;
        height: 45px;
        font-size: 12px;

    }
    .logo-image{
        height: 85px;
    }
}