.navbar-container{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    height: 65px;
}
.part-1{
    font-size: 23px;
    font-family: "Lato";
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}
.part-2{
    font-size: 65px;
    letter-spacing: 8px;
    font-weight: bold;
    /* width: 20%; */
    /* background-color: red; */
    margin-top: 10px;
    font-family: 'Cinzel';
}
.part-3{
    margin-right: 60px;
}

.part-1 > .nav-items{
    display:flex;
    gap: 23px;
}
.nav-items > .item-headings{
    list-style-type: none;
    cursor: pointer;
    font-size: 21px;
    /* padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px; */
}
.active {
    font-weight: bold;
    color: green; /* Highlight color */
  }
.item-headings:hover{
    color: #fff;
    background-color: transparent;
    border-radius: 18px;
   
    /* text-shadow: -1px 3px 2px #6578ba; */
}
.arrow-list{
    transform: rotate(90deg);
    padding-left: 5px;
    font-size: 12px;
}
.reqBtn{
    outline: none;
    width: 180px;
    height: 55px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(91, 91, 254);
    margin-top: 30px;
    font-family: "Roboto Mono";
}


@media screen and (min-width:300px) and (max-width:480px) {
    .navbar-container{
        flex-direction: column-reverse;
        margin: 0%;
        height: auto;
    }
    .part-1{
        font-size: 8px;
        margin: 0%;
    }
    .part-1 > .nav-items{
        justify-content: center;
        gap: 26px;
    }
    .part-2{
        font-size: 28px;
        text-align: center;
        padding-left:25px;
        margin: 10px 0;
    }
    .part-3{
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .part-1{
        font-size: 16px;
        /* background-color: beige; */
        /* margin-left: -20px; */
    }
    .part-2{
        font-size: 38px;
       letter-spacing: 8px;
    }
    .part-3{
        display: block;
    }
    
    .part-1 > .nav-items{
        gap:15px;
    }
    .nav-items > .item-headings{
        font-size: 12px;
    }
    .reqBtn{
        width: 80px;
        height: 28px;
        font-size: 10px;
        margin-right: -40px;
        margin-top: 23px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .part-1{
        font-size: 18px;
        /* background-color: beige; */
        /* margin-left: -20px; */
    }
    .part-2{
        font-size: 45px;
       letter-spacing: 8px;
    }
    .part-3{
    }
    
    .part-1 > .nav-items{
        gap:18px;
    }
    .nav-items > .item-headings{
        font-size: 14px;
    }
    .reqBtn{
        width: 120px;
        height: 45px;
        font-size: 14px;
        margin-right: -40px;
        margin-top: 23px;
    }
}