.footerSection{
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.item-name{
    font-weight: bold;
    list-style-type: none;
    font-size: 23px;
    font-family: "Cinzel";
    margin-left: -15px;
}
.inner-eachItem{
    list-style-type: none;
    font-size: 20px;
    font-family: "Lato";
    margin: 10px 0 0 0px;
}
.inner-eachItem:hover{
    color: blue;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .footerSection{
        /* margin-top: 30px; */
        display: flex;
        flex-direction: column;
    }
    .item-name{
        font-size: 16px;
        margin-left: 5px;
    }
    .inner-eachItem{
        font-size: 12px;
        margin: 10px 0 0 0px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    
}
@media screen and (min-width:781px) and (max-width:1440px) {
    
}