.footerSection{
    margin: 0%;
    padding: 1rem 2rem;
}
.taxu-part-block{
    margin-bottom: 1rem;
}
.taxu-heading-part{
    font-family: 'Cinzel';
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 8px;
}
.logo-image-footer{
    height: 95px;
    margin-bottom: 2rem;
    cursor: pointer;
}
.footerLinks{
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.anchorTagListPoint{
    color: #000;
    text-decoration: none;
}
.item-name{
    font-weight: bold;
    list-style-type: none;
    font-size: 23px;
    font-family: "Cinzel";
    margin-left: -15px;
}
.inner-eachItem{
    list-style-type: none;
    font-size: 20px;
    font-family: "Lato";
    margin: 10px 0 0 0px;
    
}

.eachListPoint:hover,.anchorTagListPoint:hover{
    color: #000;
    background-color: #a4f795;
    width: auto;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .taxu-heading-part{
        font-size: 36px;
    }
    .footerLinks{
        /* margin-top: 30px; */
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
    .item-name{
        font-size: 18px;
        margin-left: 5px;
    }
    .inner-eachItem{
        font-size: 14px;
        margin: 10px 0 0 0px;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .taxu-heading-part{
        font-size: 38px;
    }
    .footerLinks{
        /* margin-top: 30px; */
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
    .item-name{
        font-size: 18px;
        margin-left: 5px;
    }
    .inner-eachItem{
        font-size: 14px;
        margin: 10px 0 0 0px;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    
}