.itrPlanContainer{
    margin: 1rem 0 3rem 0; /* margin size */ 
}
.itrPlansHeading{
    text-align: center;
    font-size: 55px;
    margin: 5rem 1rem;
}
.itrFlexBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}
.businessParagraph{
    font-size: 15px;
}
#BusinessRelatedSection{
    height: 100vh;
}
@media screen and (min-width:300px) and (max-width:480px) {
    .itrFlexBlock{
        gap: 12px;
    }
    .itrPlansHeading{
        font-size: 32px;
    }
    .businessParagraph{
        font-size: 8px;
    }
    #BusinessRelatedSection{
        height: 120vh;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .itrFlexBlock{
        gap: 14px;
    }
    .businessParagraph{
        font-size: 10px;
    }
    #BusinessRelatedSection{
        height: 120vh;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .itrFlexBlock{
        gap: 16px;
    }
    .businessParagraph{
        font-size: 14px;
    }
    #BusinessRelatedSection{
        height: 120vh;
    }
}