.itrPlanContainer{
    margin: 5rem 0 3rem 0; /* margin size */
    overflow: hidden; 
}
.itrPlansHeading{
    text-align: center;
    font-size: 55px;
    margin: 6rem 1rem 3rem 1rem;
}
.itrFlexBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.businessParagraph{
    font-size: 15px;
}
#BusinessRelatedSection{
    margin: 12rem 0;
}
@media screen and (min-width:300px) and (max-width:480px) {
    .itrFlexBlock{
    }
    .itrPlansHeading{
        font-size: 32px;
    }
    .businessParagraph{
        font-size: 8px;
    }
    #BusinessRelatedSection{
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .itrFlexBlock{
        gap: 14px;
    }
    .businessParagraph{
        font-size: 10px;
    }
    #BusinessRelatedSection{
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .itrFlexBlock{
        gap: 16px;
    }
    .businessParagraph{
        font-size: 14px;
    }
    #BusinessRelatedSection{
    }
}