.paymentDetailsSection{
    display: flex;
    justify-content: space-around;
    margin: 4rem 15rem;
    gap: 5rem;
    padding: 3rem 1rem;
    border-radius: 30px;
    border: 6px solid #a4f795;
    box-shadow: -8px 5px 15px rgb(141, 140, 140);
}
.paymentLeftPart{
    width: 100%;
    font-family: 'Lato';
    margin: auto;
    padding: auto;
}
.paymentTaxuHeading{
    font-size: 52px;
    text-align: center;
    font-family: 'cinzel';
    display: block;
}
.paymentContainer{
    margin: 5px 25px;
    padding: 1rem;
    border-radius: 30px;
    border: 6px solid #a4f795;
    box-shadow: -8px 5px 15px rgb(141, 140, 140);
    
}
.orderDetailsHeading{
    font-size: 23px;
    margin-left: 6%;
    font-weight: 900;
}
.horizontalTag{
    padding: 2px;
    border: none;
    border-radius: 25px;
    margin: 0%;
    background-color: rgb(95, 101, 101);
}
.planHeading{
    font-size: 23px;
    font-weight: 600;
    align-items: center;
    margin-left: 10%;
    letter-spacing: 2px;
}
.paymentDescription{
    font-size: 26px;
    font-weight: 400;
    margin-left: 5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.subHeading{
    font-size: 21px;
    font-weight:600;
    text-transform: uppercase;
    text-align: left;
    margin: 25px 0px;
}
.subHeadingValue{
    margin: 26px 0px;
    font-weight: 400;

}
.subHeadingValue,.forwardslash{
    font-size: 18px;
}

.couponInput{
    outline: none;
    border: 1px solid #000;
    height: 35px;
    width: 380px;
    border-radius: 8px;
    margin-top: 26px;
}
.couponSubmit{
    margin-top: 26px;
    border: none;
    background-color: rgb(71, 96, 174);
    color: #fff;
    padding: 6px 25px;
    border-radius: 15px;
    text-transform: uppercase;
}
.submitCheckout{
    border: none;
    background-color: rgb(91, 122, 215);
    color: #fff;
    padding: 8px 25px;
    border-radius: 15px;
    text-transform: uppercase;
    margin: 50px 0px;
}
.btnPlaceOrder:hover{
    background-color: rgb(60, 60, 148);
}
.closePaymentBtn{
    background-color: transparent;
    border-radius: 30px;
    padding: 3px 15px;
    border: none;
    font-size: 18px;
}
.closePaymentBtn:hover{
    background-color: red;
    color: #fff;
}

@media screen and (min-width:300px) and (max-width:480px) {
    .paymentDetailsSection{
        display: flex;
        flex-direction: column;
        margin: 25px;
        border-radius: 12px;
    }
    .paymentContainer{
        margin: 5px;
        margin-top: 25px;
    }
    .horizontalTag{
        padding: 0.8px;
    }
    .orderDetailsHeading{
        font-size: 18px;
    }
    .paymentTaxuHeading{
        font-size: 48px;
    }
    .planHeading{
        font-size: 16px;
        margin-top: 25px;
    }
    .paymentDescription{
        font-size: 16px;
    }
    .subHeading{
        font-size: 14px;
    }
    .subHeadingValue{
        font-size: 14px;
    }
    .couponInput{
        width: 150px;
    }
    .couponSubmit{
        padding: 2px auto;
    }
}

@media screen and (min-width:481px) and (max-width:780px) {
    .paymentDetailsSection{
        display: flex;
        flex-direction: column;
        margin: 65px;
    }
    .paymentLeftpart{
        width:80%;
    }
    .paymentTaxuHeading{
        font-size: 58px;
    }
    .paymentContainer{
        margin: 5px 75px;
        margin-top: 25px;
    }
    .horizontalTag{
        padding: 0.8px;
    }
    .orderDetailsHeading{
        font-size: 21px;
    }
    .planHeading{
        font-size: 16px;
        margin-top: 25px;
    }
    .paymentDescription{
        font-size: 16px;
    }
    .subHeading{
        font-size: 14px;
    }
    .subHeadingValue{
        font-size: 14px;
    }
    .couponInput{
        width: 150px;
    }
    .couponSubmit{
        padding: 2px auto;
    }
}
@media screen and (min-width:781px) and (max-width:1024px) {
    .paymentDetailsSection{
        margin: 75px;
    }
    .paymentLeftPart{
        width: 180%;
    }
    .horizontalTag{
        padding: 1.2px;
    }
    .paymentTaxuHeading{
        margin-top: -65px;
    }
    .orderDetailsHeading{
        font-size: 21px;
    }
    .planHeading{
        font-size: 21px;
        margin-top: 25px;
    }
    .paymentDescription{
        font-size: 18px;
    }
    .subHeading{
        font-size: 16px;
    }
    .subHeadingValue{
        font-size: 16px;
    }
    .couponInput{
        width: 180px;
    }
    .couponSubmit{
        padding: 3px auto;
    }
}
