@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#ContactFormSection{
  font-family: 'Poppins', sans-serif;
  height: 80vh;
  /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}
.ContactFormLeftPart{
  width: 60%;
}
.ContactFormRightPart{
  width: 40%;
}
.text{
  font-size: 25px;
  margin: 0 0 35px 0;
}
.btnContact{
  font-size: 18px;
  color: rgb(91, 91, 254);
  font-weight: 600;
  border: none;
  background-color: transparent;
  width: 80px;
  height: 45px;
  margin-bottom: 35px;
}

@media screen and (min-width:300px) and (max-width:480px) {
  #ContactFormSection{
    width: 90%;
    height: 120vh;
    left: 0;
    margin: 20px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ContactFormLeftPart{
    width: 90%;
  }
  .ContactFormRightPart{
    width: 90%;
  }
  .text{
    font-size: 18px;
  }
  .btnContact{
    font-size: 12px;
  }
}

@media screen and (min-width:481px) and (max-width:780px) {
  #ContactFormSection{
    width: 100%;
    height: 100vh;
    padding:0 3%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ContactFormLeftPart{
    width: 90%;
  }
  .ContactFormRightPart{
    width: 90%;
  }
  .text{
    font-size: 23px;
  }
  .btnContact{
    font-size: 16px;
  }
}
@media screen and (min-width:781px) and (max-width:1024px) {
  #ContactFormSection{
    width: 100%;
    height: 80vh;
  }
  .ContactFormLeftPart{
    width: 40%;
  }
  .ContactFormRightPart{
    width: 60%;
  }
  .text{
    font-size: 26px;
  }
  .btnContact{
    font-size: 18px;
  }
}
