@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#ContactFormSection{
  font-family: 'Poppins', sans-serif;
  height: 90vh;
  /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 2rem 1rem;
  margin: 4rem 6rem 4rem 9rem;
  border-radius: 30px;
  border: 6px solid #a4f795;
  box-shadow: -8px 5px 15px rgb(141, 140, 140);
}
.ContactFormLeftPart{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactHeading{
  font-size: 65px;
  font-family: 'Cinzel';
}
.contactImage{
  height: 480px;
}
.ContactFormRightPart{
  width: 40%;
}
.text{
  font-size: 25px;
  margin: 0 0 35px 0;
}
.btnContact{
  font-size: 18px;
  color: rgb(91, 91, 254);
  font-weight: 600;
  border: none;
  background-color: transparent;
  width: 80px;
  height: 45px;
  margin-bottom: 35px;
}

@media screen and (min-width:300px) and (max-width:480px) {
  #ContactFormSection{
    width: 90%;
    height: 180vh;
    left: 0;
    margin: 20px;
    flex-direction: column;
    align-items: center;
  }
  .ContactFormLeftPart{
    width: 90%;
  }
  .contactHeading{
    font-size: 32px;
  }
  .contactImage{
    height: 220px;
  }
  .ContactFormRightPart{
    width: 90%;
  }
  .text{
    font-size: 18px;
  }
  .btnContact{
    font-size: 12px;
  }
}

@media screen and (min-width:481px) and (max-width:780px) {
  #ContactFormSection{
    height: 160vh;
    flex-direction: column;
    align-items: center;
    margin: 4rem 6rem 4rem 5rem;
  }
  .ContactFormLeftPart{
    width: 90%;
  }
  .contactHeading{
    font-size: 36px;
  }
  .contactImage{
    height: 260px;
  }
  .ContactFormRightPart{
    width: 90%;
  }
  .text{
    font-size: 23px;
  }
  .btnContact{
    font-size: 16px;
  }
}
@media screen and (min-width:781px) and (max-width:1024px) {
  #ContactFormSection{
    height: 90vh;
    margin: 4rem 6rem 4rem 6rem;
  }
  .ContactFormLeftPart{
    width: 40%;
  }
  .contactHeading{
    font-size: 65px;
  }
  .contactImage{
    height: 380px;
  }
  .ContactFormRightPart{
    width: 50%;
  }
  .text{
    font-size: 26px;
  }
  .btnContact{
    font-size: 18px;
  }
}
