.EnquiryContainer{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.enquiryBlock{
    height: 380px;
    width: 520px;
    background-color: transparent;
    border: 3px solid rgb(23, 23, 151);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 120px 60px 0 70px;
}
.enquiryHeading{
    text-transform: uppercase;
    margin-top: -80px;
    font-size: 20px;
    letter-spacing: 1.8px;
}
.enquiryDescription{
    font-size: 18px;
    margin-top: -20px;
    margin: 2px 15px;
    letter-spacing: 0.5px;
}
.img-expert{
    height: 350px;
    border-radius: 50%;
    mix-blend-mode: darken;
    margin-top: -65px;
}
.img-expert2{
    height: 180px;
    margin-top: 25px;
}
.enquiryHeading2{
    margin-top: 0px;
}
.enquiryDescription2{
    margin: 0px 15px;
}

.BtnEnquiry{
    margin: 0;
    outline: none;
    width: 250px;
    height: 45px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(91, 91, 254);
}